<div class="container px-8 mx-auto">
  <div class="flex flex-col sm:flex-row justify-center bg-white mx-auto md:max-w-7xl">
    <div class="relative md:w-0 flex align-middle justify-center">
      <img class="object-contain md:w-48 w-full sm:w-0 px-0 md:px-8 py-8" src="{{comp.profile.logo}}" alt="" srcset="" />
    </div>
    <div class="flex flex-col items-center sm:flex-row md:max-w-8xl">
      <div class="flex px-5 py-8 w-full md:w-2/3 mx-auto">
        <div class="w-full mx-auto">
          <div class="flex justify-between pb-4 items-center border-b">
            <div>
              <h1 class="text-3xl min-w-2xl font-bold leading-none tracking-tighter text-neutral-600">{{comp.profile.name}}</h1>
            </div>
            <div>
              <span class="bg-blue-100 hidden md:block text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{comp.profile.type}}</span>
            </div>
          </div>
          <p class="pt-3"><b>📢 What they say:</b> {{comp.profile.intro}}</p>
          <p class="pt-3"><b>🏆 What they're best at:</b>
            <ul>
              {{#each comp.profile.usp}}
                <li class="pl-4 pt-2">• {{this}}</li>
              {{/each}}
            </ul>
          </p>
          <p class="pt-3"><b>💶 What it costs:</b> {{comp.profile.pricing}} </p>
          <a href="http://{{comp.profile.website}}"><p class="pt-3"><u>{{comp.profile.website}}</u></p></a>
        </div>
      </div>
      <div class="flex flex-col justify-between lg:py-8 md:w-1/3 w-full mx-auto py-0 pb-8 px-8 lg:border-l leading-normal">
        <img class="object-contain sm:pb-8 xl:p-8 w-full invisible sm:visible h-0 sm:h-auto" src="{{comp.profile.logo}}" alt="" srcset="" />
        <div class="flex w-full items-center justify-center mb-3">
          {{#times overall}}
            <svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
          {{/times}}
        </div>
        <div class="text-center">
          <span class="text-xs leading-relaxed text-gray-500">{{reviews.length}} Reviews</span>
        </div>
        <br />
        <div class="flex justify-between mt-3">
          <div>
            <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Easy To Use</span>
          </div>
          <div class="flex items-center">
            {{#times averagesObj.easyToUse}}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            {{/times}}
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <div>
            <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Features</span>
          </div>
          <div class="flex items-center">
            {{#times averagesObj.features}}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            {{/times}}
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <div>
            <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Support</span>
          </div>
          <div class="flex items-center">
            {{#times averagesObj.customerSupport}}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            {{/times}}
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <div>
            <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Value</span>
          </div>
          <div class="flex items-center">
            {{#times averagesObj.valueForMoney}}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            {{/times}}
          </div>
        </div>
        <div class="flex justify-between mt-3">
          <div>
            <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Distribution</span>
          </div>
          <div class="flex items-center">
            {{#times averagesObj.distribution}}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            {{/times}}
          </div>
        </div>
        <br />

        <div class="flex justify-between mt-3">
          <a href="reviews/new" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Leave a Review</a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <div class="border-b"></div>
  <br />
  <br />
  {{#each reviews}}
    <div class="flex flex-col mt-4 sm:flex-row justify-center bg-white rounded-xl border mx-auto shadow-xl md:max-w-5xl">
      <div class="flex flex-col w-full items-center sm:flex-row md:max-w-5xl">
        <div class="px-8 py-8 w-full mx-auto">
          <div class="w-full mx-auto">
            <div class="flex justify-between pb-4 items-center border-b">
              <div>
                <h1 class="text-3xl min-w-5xl font-bold leading-none tracking-tighter text-neutral-600">{{this.content.reviewTitle}}</h1>
              </div>
              <div>
                <span class="bg-blue-100 hidden md:block text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">Left by {{this.owner.firstName}} from {{this.owner.companyName}}</span>
              </div>
            </div>
            <br />
            <p class="pt-3"><b>✅ Pros:</b>
              <ul class="pl-6">
                <li class="pt-3">• PRO1</li>
                <li class="pt-3">• PRO2</li>
                <li class="pt-3">• PRO3</li>
              </ul>
            </p>
            <br />
            <p class="pt-3"><b>❌ Cons:</b>
              <ul class="pl-6">
                <li class="pt-3">• CON1</li>
                <li class="pt-3">• CON2</li>
                <li class="pt-3">• CON3</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-between lg:py-8 lg:w-1/3 w-full mx-auto py-0 pb-8 px-4 lg:border-l leading-normal">
          <div class="flex w-full items-center justify-center mb-3">
            {{#times this.content.overallScore}}
              <svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
            {{/times}}
          </div>
          <br />
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Easy To Use</span>
            </div>
            <div class="flex items-center">
              {{#times this.content.easyToUse}}
                <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Features</span>
            </div>
            <div class="flex items-center">
              {{#times this.content.features}}
                <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Support</span>
            </div>
            <div class="flex items-center">
              {{#times this.content.customerSupport}}
                <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Value</span>
            </div>
            <div class="flex items-center">
              {{#times this.content.valueForMoney}}
                <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Distribution</span>
            </div>
            <div class="flex items-center">
              {{#times this.content.distribution}}
                <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <br />
        </div>
      </div>
    </div>
  {{/each}}
</div>