<section class="w-full bg-white dark:bg-wickeddark items-center">
  {{#if success}}
    <div id="successLogin" class="p-4 mb-4 w-2/3 md:w-1/4 mx-auto text-sm text-center text-green-700 bg-green-100 rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
      <p>{{success}}</p>
    </div>
  {{/if}}
  <div class="relative items-center w-full md:w-2/3 px-5 py-12 mx-auto lg:px-12 lg:px-16 max-w-7xl lg:py-12">
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center mx-auto align-middle">
        <div class="pb-12 text-center">
          <h1 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-5xl lg:max-w-7xl">
            Real <span class="text-blue-600"> res tech </span> reviews from the operators that use them. 
          </h1>
          <div class="flex items-center justify-center">
          <img class="w-3/4 max-w-2xl mt-8 lg:mt-12" src="images/home.svg"></img>
          </div>
          {{!-- <form action="" method="post" id="revue-form" name="revue-form" target="_blank" class="p-2 mt-8 transition duration-500 ease-in-out transform border2 bg-gray-50 lg:mx-auto rounded-xl lg:max-w-lg lg:flex">
            <div class="flex-1 min-w-0 revue-form-group">
              <label for="member_email" class="sr-only">Search...</label>
              <input id="cta-email" type="email" class="block w-full px-5 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform bg-transparent border border-transparent rounded-md text-neutral-600 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" placeholder="Search...  " />
            </div>
            <div class="mt-4 lg:mt-0 lg:ml-3 revue-form-actions">
              <button type="submit" value="Subscribe" name="member[subscribe]" id="member_submit" class="block w-full px-5 py-3 text-base font-medium text-white bg-blue-600 border border-transparent rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 lg:px-10"> Go </button>
            </div>
          </form> --}}
          <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">Help the community by <a href="/reviews/new"><u>leaving a review.</u></a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
  <div class="container px-8 mx-auto">
    <div class="px-5 rounded-lg bg-gray-50 py-5 lg:max-w-5xl mx-auto overflow-x-auto whitespace-nowrap">
<span id="featureEasy" class="box-border bg-gray-100 text-gray-800 text-md font-medium inline-flex items-center px-5 py-1 mb-1 rounded-full mr-2">
🙌  EASY TO USE
</span>
<span id="featureFeature" class="bg-gray-100 text-gray-800 text-md font-medium inline-flex items-center px-5 py-1 rounded-full mr-2">
✔️  PACKED WITH FEATURES
</span>
<span id="featureSupport" class="bg-gray-100 text-gray-800 text-md font-medium inline-flex items-center px-5 py-1 rounded-full mr-2">
💁  SUPERSTAR SUPPORT
</span>
<span id="featureValue" class="bg-gray-100 text-gray-800 text-md font-medium inline-flex items-center px-5 py-1 rounded-full mr-2">
🤑  GREAT VALUE
</span>
<span id="featureDistribution" class="bg-gray-100 text-gray-800 text-md font-medium inline-flex items-center px-5 py-1 rounded-full mr-2 ">
🔌  STRONG DISTRIBUTION
</span>
    </div>
    <br>
<div id="companiesContainer">
    {{#each companies}}
    <div data-easy="{{this.averages.easyToUse}}" data-features="{{this.averages.features}}" data-customerSupport="{{this.averages.customerSupport}}" data-valueForMoney="{{this.averages.valueForMoney}}" data-distribution="{{this.averages.distribution}}"  class="flex flex-col mt-4 lg:flex-row justify-center bg-white rounded-xl border mx-auto shadow-xl lg:max-w-5xl companyDOM">
      <div class="relative flex align-middle justify-center">
        <span class="absolute -top-2.5 -left-2.5 bg-blue-100 text-blue-800 md:text-5xl text-2xl font-bold px-2.5 py-2.5 rounded dark:bg-blue-200 dark:text-blue-800">#{{this.index}}</span>
        <img class="object-contain w-1/2 lg:w-48 lg:px-8 px-0 py-8" src="{{this.profile.logo}}" alt="" srcset="" />
      </div>
      <div class="flex flex-col items-center lg:flex-row lg:max-w-4xl">
        <div class="px-5 py-8 w-full lg:w-2/3 mx-0 lg:mx-auto">
          <div class="w-full mx-auto">
            <div class="flex justify-between pb-4 items-center border-b">
              <div>
                <h1 class="text-3xl min-w-2xl font-bold leading-none tracking-tighter text-neutral-600">{{this.profile.name}}</h1>
              </div>
              <div>
                <span class="bg-blue-100 hidden lg:block text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{this.profile.type}}</span>
              </div>
            </div>
          <p class="pt-3"><b>📢 What they say:</b> {{this.profile.intro}}</p>
          <p class="pt-3"><b>🏆 What they're best at:</b> 
          <ul>
            {{#each this.profile.usp}}
            <li class="pl-4 pt-2">• {{this}}</li>
            {{/each}}
          </ul>
          </p>
          <p class="pt-3"><b>💶 What it costs:</b> {{this.profile.pricing}} </p>
          <a href="http://{{this.profile.website}}"><p class="pt-3"><u>{{this.profile.website}}</u></p></a>
          </div>
        </div>
        <div class="flex flex-col justify-between lg:py-8 lg:w-1/3 w-full mx-auto py-0 pb-8 px-4 lg:border-l leading-normal">
            {{#if this.overall}}
          <div class="flex w-full items-center justify-center mb-3">

                          {{#times this.overall }}

            <svg class="w-10 h-10 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}

          </div>
          <div class="text-center">
          <span class="text-xs leading-relaxed text-gray-500">{{this.reviews.length}} Reviews</span>
          </div>
          <br />
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Easy To Use</span>
            </div>
            <div class="flex items-center">
              {{#times this.averages.easyToUse }}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Features</span>
            </div>
            <div class="flex items-center">
              {{#times this.averages.features }}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Support</span>
            </div>
            <div class="flex items-center">
              {{#times this.averages.customerSupport }}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Value</span>
            </div>
            <div class="flex items-center">
                            {{#times this.averages.valueForMoney }}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <div class="flex justify-between mt-3">
            <div>
              <span class="max-w-xl mx-auto mt-8 text-sm leading-relaxed text-gray-500">Distribution</span>
            </div>
            <div class="flex items-center">
              {{#times this.averages.distribution }}
              <svg class="w-5 h-5 text-yellow-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"></path></svg>
              {{/times}}
            </div>
          </div>
          <br />

          <div class="flex justify-between mt-3">
            <a href="/companies/{{this.id}}" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">See all reviews</a>
          </div>
          {{else}}
          <div class="flex-col flex mx-auto items-center justify-center mb-3">
              <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed italic text-gray-500 text-center">No reviews yet.</p>
              <br>
              <a href="reviews/new" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Leave a Review</a>
          </div>

          {{/if}}
        </div>
      </div>
    </div>
    </div>
  </div>
  {{/each}}
</div>