<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    {{! <div class="container w-full max-w-7xl"> }}
    <div class="container w-full max-w-full">
      <div x-data="{ open: false }" class="flex flex-col max-w-full p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
        <div class="flex flex-row items-center justify-between lg:justify-start">
          <a href="/" class="text-lg font-bold tracking-tighter text-blue-600 transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8"> TrustedTravelTech </a>
          <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
            <svg fill="currentColor" viewBox="0 0 20 20" class="w-8 h-8">
              <path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
              <path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" style="display: none"></path>
            </svg>
          </button>
        </div>
        <nav :class="{'flex': open, 'hidden': !open}" class="flex-col items-center flex-grow hidden pb-4 border-blue-600 md:pb-0 md:flex md:justify-end md:flex-row lg:border-l-2 lg:pl-2">
          {{#if user}}
            <a href="/reviews/new" class="mt-4 items-center block px-10 py-3 text-xs md:text-sm font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"> ✍️ Leave a review, {{user.firstName}}</a>

          {{else}}
            <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
              <a href="/login"><button class="items-center block px-5 py-2.5 text-xs md:text-sm font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Sign in</button> </a>
              <a href="/signup"><button class="items-center block px-5 py-3 text-xs md:text-sm font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Sign up</button></a>
            </div>
          {{/if}}
        </nav>
      </div>
    </div>

    {{!-- {{#if user}}
      <h1>{{user.firstName}}</h1>
    {{else}}
      <h1>NO USER</h1>
    {{/if}} --}}

    {{{body}}}

    <footer class="bg-white" aria-labelledby="footer-heading">
      {{!-- <h2 id="footer-heading" class="sr-only">Footer</h2> --}}
      {{!-- <div class="px-4 py-12 mx-auto max-w-full sm:px-6 lg:px-16">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
        </div>
      </div> --}}
      <div class="px-4 py-12 mt-8 mx-auto bg-gray-50 max-w-full sm:px-6 lg:px-16">
        <div class="flex flex-wrap items-baseline">
          <a href="https://www.twitter.com/chrisjcastle" class="mx-2 text-gray-500 hover:text-blue-600" rel="noopener noreferrer">Feedback or 🐛? @chrisjcastle</a>
        </div>
      </div>
    </footer>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </body>
</html>