{{! views/private.hbs }}

{{!-- {{ this }} --}}

<h1>{{user.firstName}}'s Rooms</h1>
  {{#each rooms}}
    <p>Name: {{name}}</p>
    <p>Description: {{desc}}</p>
    <p>Owner: {{owner.username}}</p>
    <p>----------------</p>
{{/each}}

<a href="/newroom">Add Room</a>