{{! We also need a form to allow our users to add a room to our airbnb in the application. }}

<section class="text-blueGray-700 flex justify-center">
  <div class="container items-center px-5 py-12 lg:px-20">
    <div class="flex flex-col w-full max-w-lg p-10 mx-auto my-6 transition duration-500 ease-in-out transform bg-white rounded-lg md:mt-0">
      <h1 class="text-center max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
        Leave a review.
      </h1>
      <div class="mt-8">
        <div class="mt-6">
          <form action="/reviews/new" method="POST" id="form-container">
            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">You're leaving a review as {{user.firstName}}. </p>
            {{#if user.companyName}}
              <p class="max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500"> You're leaving a review as {{user.firstName}} of {{user.companyName}} </p>
            {{else}}
            {{#if errorMessage}}
              <div class="error-message">{{errorMessage}}</div>
            {{/if}}
              <div>
                {{! <label for="companyName" class="block text-sm font-medium text-neutral-600"> Add your company name: </label> }}
                <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">What is the name of your company?</p>
                <div class="mt-1">
                  <input id="companyName" name="companyName" type="text" placeholder="Company Name" class="block w-full px-5 py-3 text-center text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" />
                </div>
              </div>
            {{/if}}
                <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">Which company is your review about?</p>
            <select name="companyBeingReviewed" class="form-select appearance-none
      block
      w-full
      px-5
      py-3
      text-center
      font-normal
      text-neutral-600
      {{!-- bg-white bg-clip-padding bg-no-repeat --}}
      border border-transparent
      rounded
      transition
      ease-in-out
      m-0
      bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" aria-label="Default select example">
        <option disabled="disabled" selected="selected" class="text-center text-neutral-600"
       selected>V</option>
                   {{#each companies}}
            <p>        <option value="{{this._id}}">{{this.profile.name}}</option></p>
            {{/each}}
    </select>

  </div>
</div>


            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">How would you rate your system overall?</p>
            <div class="rating">
              <input id="star1.5" name="overallScore" type="radio" value="5" class="radio-btn hide" />
              <label for="star1.5">&#9733</label>
              <input id="star1.4" name="overallScore" type="radio" value="4" class="radio-btn hide" />
              <label for="star1.4">&#9733</label>
              <input id="star1.3" name="overallScore" type="radio" value="3" class="radio-btn hide" />
              <label for="star1.3">&#9733</label>
              <input id="star1.2" name="overallScore" type="radio" value="2" class="radio-btn hide" />
              <label for="star1.2">&#9733</label>
              <input id="star1.1" name="overallScore" type="radio" value="1" class="radio-btn hide" />
              <label for="star1.1">&#9733</label>
              <div class="clear"></div>
            </div>
            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">How would you rate the features?</p>
            <div class="rating">
              <input id="star2.5" name="features" type="radio" value="5" class="radio-btn hide" />
              <label for="star2.5">&#9733</label>
              <input id="star2.4" name="features" type="radio" value="4" class="radio-btn hide" />
              <label for="star2.4">&#9733</label>
              <input id="star2.3" name="features" type="radio" value="3" class="radio-btn hide" />
              <label for="star2.3">&#9733</label>
              <input id="star2.2" name="features" type="radio" value="2" class="radio-btn hide" />
              <label for="star2.2">&#9733</label>
              <input id="star2.1" name="features" type="radio" value="1" class="radio-btn hide" />
              <label for="star2.1">&#9733</label>
              <div class="clear"></div>
            </div>

            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">How easy is it to use?</p>
            <div class="rating">
              <input id="star3.5" name="easyToUse" type="radio" value="5" class="radio-btn hide" />
              <label for="star3.5">&#9733</label>
              <input id="star3.4" name="easyToUse" type="radio" value="4" class="radio-btn hide" />
              <label for="star3.4">&#9733</label>
              <input id="star3.3" name="easyToUse" type="radio" value="3" class="radio-btn hide" />
              <label for="star3.3">&#9733</label>
              <input id="star3.2" name="easyToUse" type="radio" value="2" class="radio-btn hide" />
              <label for="star3.2">&#9733</label>
              <input id="star3.1" name="easyToUse" type="radio" value="1" class="radio-btn hide" />
              <label for="star3.1">&#9733</label>
              <div class="clear"></div>
            </div>

            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">How would you rate the customer support?</p>
            <div class="rating">
              <input id="star4.5" name="customerSupport" type="radio" value="5" class="radio-btn hide" />
              <label for="star4.5">&#9733</label>
              <input id="star4.4" name="customerSupport" type="radio" value="4" class="radio-btn hide" />
              <label for="star4.4">&#9733</label>
              <input id="star4.3" name="customerSupport" type="radio" value="3" class="radio-btn hide" />
              <label for="star4.3">&#9733</label>
              <input id="star4.2" name="customerSupport" type="radio" value="2" class="radio-btn hide" />
              <label for="star4.2">&#9733</label>
              <input id="star4.1" name="customerSupport" type="radio" value="1" class="radio-btn hide" />
              <label for="star4.1">&#9733</label>
              <div class="clear"></div>
            </div>

            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">How well do they distribute your products to OTAs?</p>
            <div class="rating">
              <input id="star5.5" name="distribution" type="radio" value="5" class="radio-btn hide" />
              <label for="star5.5">&#9733</label>
              <input id="star5.4" name="distribution" type="radio" value="4" class="radio-btn hide" />
              <label for="star5.4">&#9733</label>
              <input id="star5.3" name="distribution" type="radio" value="3" class="radio-btn hide" />
              <label for="star5.3">&#9733</label>
              <input id="star5.2" name="distribution" type="radio" value="2" class="radio-btn hide" />
              <label for="star5.2">&#9733</label>
              <input id="star5.1" name="distribution" type="radio" value="1" class="radio-btn hide" />
              <label for="star5.1">&#9733</label>
              <div class="clear"></div>
            </div>

            <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">Is your system good value for money?</p>
            <div class="rating">
              <input id="star6.5" name="valueForMoney" type="radio" value="5" class="radio-btn hide" />
              <label for="star6.5">&#9733</label>
              <input id="star6.4" name="valueForMoney" type="radio" value="4" class="radio-btn hide" />
              <label for="star6.4">&#9733</label>
              <input id="star6.3" name="valueForMoney" type="radio" value="3" class="radio-btn hide" />
              <label for="star6.3">&#9733</label>
              <input id="star6.2" name="valueForMoney" type="radio" value="2" class="radio-btn hide" />
              <label for="star6.2">&#9733</label>
              <input id="star6.1" name="valueForMoney" type="radio" value="1" class="radio-btn hide" />
              <label for="star6.1">&#9733</label>
              <div class="clear"></div>
            </div>

            {{! <div>
    <label for="features">How would you rate the features?</label>
    <input id="features" type="number" name="features" value="4" />
  </div>

  <div>
    <label for="easyToUse">How easy is it to use?</label>
    <input id="easyToUse" type="number" name="easyToUse" value="4" />
  </div>

  <div>
    <label for="customerSupport">How would you rate the customer support?</label>
    <input id="customerSupport" type="number" name="customerSupport" value="4" />
  </div>

  <div>
    <label for="distribution">How well do they distribute your products?</label>
    <input id="distribution" type="number" name="distribution" value="4" />
  </div> }}

            <div>
              <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">What do you love about your booking system?</p>
              <textarea id="proBullets" class="text-center block w-full px-5 py-3 mt-4 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" type="text" name="proBullets[]" value="PRO1" placeholder="Think about your favourite features..."></textarea>
              <textarea id="proBullets" class="text-center block w-full px-5 py-3 mt-4 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" type="text" name="proBullets[]" value="PRO2" placeholder="Or perhaps the support you receive..."></textarea>
              <textarea id="proBullets" class="text-center block w-full px-5 py-3 mt-4 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" type="text" name="proBullets[]" value="PRO3" placeholder="Or maybe you think it's well priced..."></textarea>
            </div>

            <div class="text-center">
              <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">What do you wish was better?</p>
              {{! <label for="conBullets">What do you wish was better?</label><br /> }}
              <textarea id="conBullets" class="text-center block w-full px-5 py-3 mt-4 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" type="text" name="conBullets[]" value="CON1" placeholder="Is the product missing a feature that you'd love to see?"></textarea>
              <textarea id="conBullets" class="text-center block w-full px-5 py-3 mt-4 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" type="text" name="conBullets[]" value="CON2" placeholder="Perhaps there's something that frustrates you about the product?"></textarea>
              <textarea id="conBullets" class="text-center block w-full px-5 py-3 mt-4 text-base text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" type="text" name="conBullets[]" value="CON3" placeholder="Anything else that other operators should be aware of?"></textarea>
            </div>

            <div>
              <p class="text-center max-w-xl mx-auto mt-8 text-base leading-relaxed text-gray-500">Finally, give your review a title</p>

              <input id="reviewTitle" name="reviewTitle" type="text" placeholder="Made my life so much easier..." class="block w-full mt-4 px-5 py-3 text-center text-neutral-600 placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" />
            </div>
            <div>
              <button type="submit" class="flex items-center justify-center w-full px-10 py-4 mt-8 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Leave Review</button>
            </div>
          </form>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>